{
  auto_https off
}

http://*.nifoc.pw {
  log {
    output discard
  }

  header X-Frame-Options SAMEORIGIN

  @not_index not path /
  header @not_index {
    Cache-Control "public, max-age=31536000"
  }

  root * /srv/{host}
  file_server browse {
    index index.html index.htm
  }

  encode zstd gzip
}
